:root {

    --icon-add:url("./icon/add/red.svg");
    --icon-calendar:url("./icon/calendar/red.svg");
    --icon-clear:url("./icon/clear/red.svg");
    --icon-cog:url("./icon/cog/red.svg");
    --icon-delete:url("./icon/delete/red.svg");
    --icon-docs:url("./icon/docs/red.svg");
    --icon-dots:url("./icon/dots/red.svg");
    --icon-download:url("./icon/download/red.svg");
    --icon-email:url("./icon/email/red.svg");
    --icon-eye-no:url("./icon/eye-no/red.svg");
    --icon-eye:url("./icon/eye/red.svg");
    --icon-filter:url("./icon/filter/red.svg");
    --icon-lock:url("./icon/lock/red.svg");
    --icon-trash:url("./icon/trash/red.svg");
    --icon-up:url("./icon/up/red.svg");
    --icon-down:url("./icon/down/red.svg");
    --icon-left:url("./icon/left/red.svg");
    --icon-right:url("./icon/right/red.svg");
    --icon-up-small:url("./icon/up-small/red.svg");
    --icon-down-small:url("./icon/down-small/red.svg");
    --icon-left-small:url("./icon/left-small/red.svg");
    --icon-right-small:url("./icon/right-small/red.svg");
    --icon-update:url("./icon/update/red.svg");
    --icon-user:url("./icon/user/red.svg");
    --icon-redable-no:url("./icon/redable-no/red.svg");
    --icon-redable:url("./icon/redable/red.svg");
    --icon-chevron-down:url("./icon/chevron-down/red.svg");

    --icon-add-grey:url("./icon/add/grey.svg");
    --icon-calendar-grey:url("./icon/calendar/grey.svg");
    --icon-clear-grey:url("./icon/clear/grey.svg");
    --icon-cog-grey:url("./icon/cog/grey.svg");
    --icon-delete-grey:url("./icon/delete/grey.svg");
    --icon-docs-grey:url("./icon/docs/grey.svg");
    --icon-dots-grey:url("./icon/dots/grey.svg");
    --icon-download-grey:url("./icon/download/grey.svg");
    --icon-email-grey:url("./icon/email/grey.svg");
    --icon-eye-no-grey:url("./icon/eye-no/grey.svg");
    --icon-eye-grey:url("./icon/eye/grey.svg");
    --icon-filter-grey:url("./icon/filter/grey.svg");
    --icon-lock-grey:url("./icon/lock/grey.svg");
    --icon-trash-grey:url("./icon/trash/grey.svg");
    --icon-up-grey:url("./icon/up/grey.svg");
    --icon-down-grey:url("./icon/down/grey.svg");
    --icon-left-grey:url("./icon/left/grey.svg");
    --icon-right-grey:url("./icon/right/grey.svg");
    --icon-up-small-grey:url("./icon/up-small/grey.svg");
    --icon-down-small-grey:url("./icon/down-small/grey.svg");
    --icon-left-small-grey:url("./icon/left-small/grey.svg");
    --icon-right-small-grey:url("./icon/right-small/grey.svg");
    --icon-update-grey:url("./icon/update/grey.svg");
    --icon-user-grey:url("./icon/user/grey.svg");
    --icon-redable-no-grey:url("./icon/redable-no/grey.svg");
    --icon-redable-grey:url("./icon/redable/grey.svg");
    --icon-chevron-down-grey:url("./icon/chevron-down/grey.svg");

    --icon-add-white:url("./icon/add/white.svg");
    --icon-calendar-white:url("./icon/calendar/white.svg");
    --icon-clear-white:url("./icon/clear/white.svg");
    --icon-cog-white:url("./icon/cog/white.svg");
    --icon-delete-white:url("./icon/delete/white.svg");
    --icon-docs-white:url("./icon/docs/white.svg");
    --icon-dots-white:url("./icon/dots/white.svg");
    --icon-download-white:url("./icon/download/white.svg");
    --icon-email-white:url("./icon/email/white.svg");
    --icon-eye-no-white:url("./icon/eye-no/white.svg");
    --icon-eye-white:url("./icon/eye/white.svg");
    --icon-filter-white:url("./icon/filter/white.svg");
    --icon-lock-white:url("./icon/lock/white.svg");
    --icon-trash-white:url("./icon/trash/white.svg");
    --icon-up-white:url("./icon/up/white.svg");
    --icon-down-white:url("./icon/down/white.svg");
    --icon-left-white:url("./icon/left/white.svg");
    --icon-right-white:url("./icon/right/white.svg");
    --icon-up-small-white:url("./icon/up-small/white.svg");
    --icon-down-small-white:url("./icon/down-small/white.svg");
    --icon-left-small-white:url("./icon/left-small/white.svg");
    --icon-right-small-white:url("./icon/right-small/white.svg");
    --icon-update-white:url("./icon/update/white.svg");
    --icon-user-white:url("./icon/user/white.svg");
    --icon-redable-no-white:url("./icon/redable-no/white.svg");
    --icon-redable-white:url("./icon/redable/white.svg");
    --icon-chevron-down-white:url("./icon/chevron-down/white.svg");

    --icon-add-disabled:url("./icon/add/disabled.svg");
    --icon-calendar-disabled:url("./icon/calendar/disabled.svg");
    --icon-clear-disabled:url("./icon/clear/disabled.svg");
    --icon-cog-disabled:url("./icon/cog/disabled.svg");
    --icon-delete-disabled:url("./icon/delete/disabled.svg");
    --icon-docs-disabled:url("./icon/docs/disabled.svg");
    --icon-dots-disabled:url("./icon/dots/disabled.svg");
    --icon-download-disabled:url("./icon/download/disabled.svg");
    --icon-email-disabled:url("./icon/email/disabled.svg");
    --icon-eye-no-disabled:url("./icon/eye-no/disabled.svg");
    --icon-eye-disabled:url("./icon/eye/disabled.svg");
    --icon-filter-disabled:url("./icon/filter/disabled.svg");
    --icon-lock-disabled:url("./icon/lock/disabled.svg");
    --icon-trash-disabled:url("./icon/trash/disabled.svg");
    --icon-up-disabled:url("./icon/up/disabled.svg");
    --icon-down-disabled:url("./icon/down/disabled.svg");
    --icon-left-disabled:url("./icon/left/disabled.svg");
    --icon-right-disabled:url("./icon/right/disabled.svg");
    --icon-up-small-disabled:url("./icon/up-small/disabled.svg");
    --icon-down-small-disabled:url("./icon/down-small/disabled.svg");
    --icon-left-small-disabled:url("./icon/left-small/disabled.svg");
    --icon-right-small-disabled:url("./icon/right-small/disabled.svg");
    --icon-update-disabled:url("./icon/update/disabled.svg");
    --icon-user-disabled:url("./icon/user/disabled.svg");
    --icon-redable-no-disabled:url("./icon/redable-no/disabled.svg");
    --icon-redable-disabled:url("./icon/redable/disabled.svg");
    --icon-chevron-down-disabled:url("./icon/chevron-down/disabled.svg");
}